<?xml version="1.0"?>
<configuration>
  
  <connectionStrings>
    <add name="AI_Wallet" connectionString="Data Source=DESKTOP-P26SOCG\SQLEXPRESS;Initial Catalog=AiShoppingWallet;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>